//HEADER
$font-header: 'Orbitron';
$width-header : 100%;
$height-header: 85px;
$font-size-header : 55px;
$white: #FDFFFC;
$color-header: #170849;
$position-header: absolute; 
$top-header: 0px; 
$left-header: 0px;
$size-header: 48px; 
$line-header: 85px;  
$font-bold: bold; 

