//HEADER
$font-header: 'Pacifico', cursive;
$width-header : 100%;
$height-header: 85px;
$font-size-header : 40px;
$white: #FDFFFC;
$color-header: #0A2463;
$position-header: absolute; 
$top-header: 0px; 
$left-header: 0px;
$size-header: 48px; 
$line-header: 84px;  


