$display-kitchen: flex;
$direction-kitchen: row;
$justify-kitchen: flex-start; 
$wrap-kitchen: wrap;  

$absolute: absolute; 
$card-width: 300px;
$card-height: 350px; 
$card-top: 227px; 
$background-active: #F8F1F1; 
$background-inactive: #E4E8DC; 
$card-border: 40px;  

$list-sourcer: 100%;
 

$item-padding:10px; 
$item-size: 15px; 

$item1-width: 70%;
$item2-width: 20%;
$item3-width: 50%; 
$button-radius: 20px;  
$card-padding: 40px;

/** Maquetado de Ordernes Entregagas*/
$right: 0px;
$top-delivery: 222px; 
$pfixed: fixed; 

